.container {
  width: 25vw;
  height: 100vh;
  background-color: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
  font-weight: 600;
}
.innerContainer {
  width: 90vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.heading {
  text-align: center;
  position: sticky;
  top: 10px;
  z-index: 99;
}
.createBtn {
  position: fixed;
  bottom: 2vw;
  left: 17vw;
  width: 4vw;
  height: 8vh;
  background-color: #16008b;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 999;
  color: #fff;
  font-size: 3vw;
  font-weight: 600;
}

@media screen and (max-width: 850px) {
  .container {
    width: 45vw;
  }

  .heading {
    text-align: center;
    padding: 20px;
  }
  .createBtn {
    width: 8vw;
    left:20vw;
  }
  .heading{
    font-size: 1.5rem;
  }
  .innerContainer{
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 500px) {
  .container {
    width: 100vw;
    max-height:95vh;
  }

  .heading {
    text-align: start;
    padding: 30px;
    font-size: 8vw;
  }
  .createBtn {
    width: 18vw;
    height:9vh;
    bottom: 55vw;
    left:70vw;
    font-size: 2.5rem;
  }
}
