.container{
    width:80vw;
    background-color: #DAE5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: none;
    gap:10px;
    
}
.bookImg{
    width:50%;
    padding-top:100px;
}
.description{
    width:37%;
    text-align: center;
}
.lockMsg{
    padding-top:8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:3px;
    
}
.lockImg{
    width:8%;
    
}
@media screen and (max-width:500px){
    .container{
        display: none;
    }
}
@media screen and (max-width:750px){
    
  }
@media screen and (max-width:500px){
    .container{
        display: none;
    }
}